.vscode/**
.vscode-test/**
out
dist
node_modules
.vscode-test/
*.vsix
.env
src/**
!src/webview/**
out/test/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/webview/**